/* Общие стили */
$primary-color: #0077cc
$secondary-color: #f0f0f0

body
  font-family: Arial, sans-serif

header
  background-color: $primary-color
  color: white
  text-align: center
  padding: 20px

h1
  font-size: 36px

p
  font-size: 18px

main
  padding: 20px

section
  margin-bottom: 30px

h2
  color: $primary-color
  font-size: 24px

.biography
  background-color: $secondary-color

ul
  list-style-type: disc
  padding-left: 20px
